print("helo")

In [2]:
x=10
print(x<<2)

40

In [3]:
print(x<<4)

160

In [4]:
print(x>>2)

2

In [5]:
print(x>>4)

0

In [11]:
for i in range(0, 9):
     if i==5:
       continue
     print(i)

0
1
2
3
4
6
7
8

In [12]:
x=int(input("Enter the number"))
assert x>0,"Are you given wrong number"
print("Entered number is ",x)

Enter the number10
Entered number is  10

In [13]:
x=int(input("Enter the number"))
assert x>0,"Are you given wrong number"
print("Entered number is ",x)

Enter the number-40

AssertionError: Are you given wrong number

In [14]:
l1=[10,20,31,3]
print(78 are in l1)

SyntaxError: invalid syntax (206016727.py, line 2)

In [16]:
l1=[10,20,31,3]
print(78  in l1)

False

In [18]:
print(31  in l1)

True

In [19]:
l1=[10,20,30]
l2=[12,34,56,67]
print(l1 is 3)

False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\agnisis\AppData\Local\Temp\ipykernel_2232\3417992413.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(l1 is 3)

In [1]:
l1=[10,20,30]
l2=[12,34,56,67]
print(l1 is 3)

False

<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\agnisis\AppData\Local\Temp\ipykernel_11748\3417992413.py:3: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(l1 is 3)

In [21]:
a=10
b=10
id(a)

2404479756880

In [22]:
id(b)

2404479756880

In [23]:
print(a is b)

True

In [24]:
x=list([10,20,30,40])
type(x)

list

In [25]:
l1=[10,20,49,"Hellow shilpi"]
li

NameError: name 'li' is not defined

In [26]:
l1=[10,20,49,"Hellow shilpi"]
l1

[10, 20, 49, 'Hellow shilpi']

In [27]:
l2=[10,20,49,"Hellow shilpi"]
print(l2)

[10, 20, 49, 'Hellow shilpi']

In [28]:
print(l1[0])

10

In [30]:
l3=[10,30,40,67,80]
print(l3)

[10, 30, 40, 67, 80]

In [31]:
l3=[10,30,40,67,80]
print(l3[1:3])

[30, 40]

In [32]:
l1=[10,20,"its my life its open high way"]
print(l1)

[10, 20, 'its my life its open high way']

In [33]:
l1=["Ankan","Shilpi","Agni"]
l1

['Ankan', 'Shilpi', 'Agni']

l2=list(range(0,10))
print(l2)

In [38]:
l3=list(range(0,20))
print(l3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Remove:remove element frome aparticular an element

In [45]:
l4=[10,30,40,5,6,7]
l4.pop(2)
print(l4)

[10, 30, 5, 6, 7]

# sort the element of partricular list

In [46]:
list=[1,2,3,4,5,6,7,8,9]
list.reverse()
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# using zip() function with list

In [1]:
roll_no=[1,2,3,4,5]
names=['shilpi','agni','wiiuy','hui','fggg']
data=list(zip(roll_no,names))
print(data)

[(1, 'shilpi'), (2, 'agni'), (3, 'wiiuy'), (4, 'hui'), (5, 'fggg')]

# tuple

In [1]:
tup2=(4,4,4,4,4,5,5,5,5,6,10,12)

In [2]:
tup2.count(4)

5

In [3]:
tup2.count(5)

4

In [4]:
tup2.count(12)

1

# Dictionary

In [2]:
dic={'name':'arun','marks':400,'roll_no':10}
n=len(dic)
print(n)
print(dic.keys(),dic.values())

3
dict_keys(['name', 'marks', 'roll_no']) dict_values(['arun', 400, 10])

In [6]:
help(dic.clear())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

x={}
print("how many keys")
n=int(input())
for i in range (n):
    print("enter key ",end=" ")
    k=input()
    print("enter value ",end=" ")
    v=int(input())
    x.update({k:v})
    print(x)

In [5]:
print(dic.keys(),dic.values())

dict_keys(['name', 'marks', 'roll_no']) dict_values(['arun', 400, 10])

In [7]:
x={}
print("enter the no of keys")
n=int(input())
for i in range (n):
    print("enter keys")
    k=input()
    print("enter value")
    v=int(input())
    x.update({k:v})
print(x)

enter the no of keys
2
enter keys
s
enter value
2
{'s': 2}
enter keys
1
enter value
3
{'s': 2, '1': 3}

# functions ->>

# Advantage of Function

# Avoid repetition,modularization,Reduce size,save memory requirment

In [12]:
def print_msg():
    #this function will display message#
    print("Hello world....")
    
    return
print_msg()
print_msg()
print_msg()
print_msg()
print_msg()
print_msg()

Hello world....
Hello world....
Hello world....
Hello world....
Hello world....
Hello world....

In [15]:
def sum():
  a=23
  b=78
  c=a+b
  return c
sum()

101

In [16]:
def print_msg(str1):
    print(str1)
    return

print_msg("c")
print_msg("cpp")
print_msg("c#")
print_msg("python")
print_msg("Electronics and communication")
print_msg("computer science")
print_msg("CSBS")
print_msg("Civil")

c
cpp
c#
python
Electronics and communication
computer science
CSBS
Civil

In [22]:
def even_odd(num):
    if(num%2==0):
        print("The number is even ".format(num))
    else:
        print("The number is odd ".format(num))

In [23]:
even_odd(21)

The number is odd

In [26]:
a=10
b=20
c=30
#the value of a is 10 b is 20 c is 30
print("The value of a {0}  b {1} c {2}".format(a,b,c))

The value of a 10  b 20 c 30

In [31]:
def fact(n):
         
       return


fact()

1
2
6
24
120
720
5040
40320
362880
3628800

In [4]:
def add(farg,*args):
    print("the formal argument is ",farg)
    sum=0
    for i in args:
        sum+=i
    print("total value ",(farg+sum))
    return

add(10,20,30,40,50,60)

the formal argument is  10
total value  210

In [7]:
def display(farg,**kwargs):
    print("formal argument",farg)
    for x,y in kwargs.items():
        print("the key is {} and the value is {}".format(x,y))
        
display(1,name="a",roll=1,marks=600,grade="first")

formal argument 1
the key is name and the value is a
the key is roll and the value is 1
the key is marks and the value is 600
the key is grade and the value is first

In [9]:
def even_odd(num):
    if(num%2==0):
        return "the numbr {} is even".format(num)
    else:
        return "the numbr {} is odd".format(num)
    
l1=[1,2,3,4,5,6,7,8,9,10]
list(map(even_odd,l1))

['the numbr 1 is odd',
 'the numbr 2 is even',
 'the numbr 3 is odd',
 'the numbr 4 is even',
 'the numbr 5 is odd',
 'the numbr 6 is even',
 'the numbr 7 is odd',
 'the numbr 8 is even',
 'the numbr 9 is odd',
 'the numbr 10 is even']

## lambda function

In [11]:
x=lambda a: a*a
value=x(5) 
print (value)

25

In [13]:
l1=[1,2,3,.4,5,6,7,8,9]
l2=list(filter(lambda x: (x%2==0),l1))# filter helpes to filter on.ly the true result
print(l2)

[2, 6, 8]

# oops

In [16]:
class car ():
    
    pass

c1=car()
c2=car()
print(id(car))
print(id(c1))
print(id(c2))

2629618903088
2629639039296
2629639037184

In [2]:
class Student():
    #self is default variable that contains the memery address of the instance 
    def __init__(self):
        self.name="Arjun"
        self.age=25
        self.marks=900
    def display(self):#method
        print("Hi i am ",self.name)
        print("My name is  ",self.age)
        print("My marks is ",self.marks)
s1=Student()
s1.display()

Hi i am  Arjun
My name is   25
My marks is  900

In [3]:
class Student():
    #self is default variable that contains the memery address of the instance 
    def __init__(self,n='.',m=0):
        self.name=n
        self.marks=m
    def display(self):#method
        print("Hi i am ",self.name)
        print("My marks is ",self.marks)
s1=Student()
s2=Student('Vivek',600)
s1.display()
s2.display()

Hi i am  .
My marks is  0
Hi i am  Vivek
My marks is  600

In [4]:
class Car:
    def __init__(self,brand,color):
        self.brand=brand #instance variable brand
        self.color=color #2nd instance variable
    def display(self):
        print("The brand of my car is {0} and color is {1} ".format(self.brand,self.color))
c1=Car("Tata",'Red')
c2=Car("Maruti",'Blue')
c1.display()

c2.display()

The brand of my car is Tata and color is Red
The brand of my car is Maruti and color is Blue